.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game-area {
  background-color: blueviolet;
  width: 100%;
  grid-column-start: 0;
  grid-column-end: span 3;
}

.game-status {
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: blue;
}

.auth {
  background-color: blanchedalmond;
  width: 50%;
  padding: 2em;
  border-radius: 1em;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.auth-forms {
  display: flex;
  justify-content: space-evenly;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rules {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: 1em;
  visibility: hidden;
}

.rules-content {
  position: relative;
  overflow-y: scroll;
  bottom: 0;
}

.rules .button {
  font-size: 1.5em;
}

.button:hover {
  color: green;
}

.popup-window {
  padding: 1em;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  border-radius: 1em;
}

.popup-window > header > h3 {
  margin-top: 0;
}

.popup-window > header {
  display: flex;
  justify-content: space-between;
}
