.game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game-area {
  background-color: blueviolet;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 3;
}

.game-status {
  grid-column-start: 4;
  background-color: blue;
}

.auth {
  background-color: blanchedalmond;
  width: 50%;
  padding: 2em;
  border-radius: 1em;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.auth-forms {
  display: flex;
  justify-content: space-evenly;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rules {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* visibility: hidden; */
}

.rules-content {
  position: relative;
  overflow-y: scroll;
  margin: 1em;
  bottom: 0;
}

.rules .button {
  font-size: 1.5em;
}

.button:hover {
  color: green;
}

.popup-window {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: -0.1em 0.2em 0.1em #555, 0.1em 0.2em 0.1em #555;
}

.popup-window > header > h3 {
  margin-top: 0;
  color: white;
}

.popup-window > header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1em 1em 0;
}
